html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;

text-align: center;

}




#canvas{
     // background-image: url("../img/fondLight.jpg");
     background-color: blueviolet;
   
margin: 0;
     
      display:inline-block;
  vertical-align:middle;
  line-height:normal;
     
}




#boutons{
    line-height:normal;
}


#title{
    display:inline-block;
}



h1{
    text-align: center;
}

img{
    display: none;

}