html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;

text-align: center;

}


#canvas{
    background: #fff;
    opacity: 0.2;
}
#canapea{
    //background: #fff;
    //opacity: 0.2;
}

#cadre{
    text-align: center;
   // padding: 30px;
    height:100%;
    width:100%;
    margin: 0;
  padding: 0;
  height:900px;
  line-height:900px;
  
    
}


#fond{
     
    background-image: url("../img/fondLight.jpg");
    background-size: 100%;
margin: auto;
     width: 80%;
     height: 80%;
      display:inline-block;
  vertical-align:middle;
  line-height:normal;
     
}

#title{
    display:inline-block;
}



h1{
    text-align: center;
}

img{
    display: none;
}