body{
/*    width: 100%;
    height: 100%;
    background-image: url();*/
    background-image: url(../img/fond.png); 
background-position: center center;
background-repeat: no-repeat; 
background-attachment: fixed; 
background-size: cover; 
}
div{
    text-align: center;
    margin-bottom: 100px;
}
h1{
    text-align: center;
}

img{
    display: none;
}